:root {
	--dark-background: #1f2937;
	--white-text: #f9faf8;
	--gray-color: #e5e7eb; /* for gray text & gray quote background */
	--button-color: #3882f6;
	--random-info: #1f2937;
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: var(--dark-background);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2% 5%;
}

.header-container {
    width: 80%;
}

nav.navbar {
    display: flex;
    flex-flow: column;
}

ul {
    display: flex;
    flex-direction: row; 
}
 li {
    list-style: none;
}

 a {
    text-decoration: none;
    color: white;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cat-pic-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.cat-pic {
    max-width: 15rem;
    border-radius: 10px;
}

.sign-up {
    background: var(--button-color);
    color: white;
    max-width: 5rem;
    margin: 5%;
    width: 400px;
    align-self: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animal-pics {
	max-width: 15rem;
	border-radius: 1rem;
}

.info {
    text-align: center;
}

.subtitle {
    color: var(--gray-color);
}

.image-container .subtitle {
    color: black;
    text-align: center;
}

.thor-quote {
    background: var(--gray-color);
    font-style: italic;
    color: var(--dark-background);
    font-size: 2.2rem;
   max-width: 100%;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   padding: 2rem;
}

blockquote {
   width: 50%;
   margin: auto;
}

.thor-attribution {
   color: black;
   font-style: normal;
   font-weight: 700;
   align-self: flex-end;
}

.call-to-action {
	background: var(--button-color);
	margin: auto;
	color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
 }

 .para-button {
    display: flex;
    margin: 5%;
    text-align: justify;
 }

 .sign-up {
	color: white;
	display: inline;
	margin-bottom: 2%;
 }

 footer {
    background: var(--dark-background);
    color: var(--white-text);
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}