:root {
	--dark-background: #1f2937;
	--white-text: #f9faf8;
	--gray-color: #e5e7eb; /* for gray text & gray quote background */
	--button-color: #3882f6;
	--random-info: #1f2937;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

}

header {
	background: var(--dark-background);
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
}

.header-logo {
	margin-top: -1%;
	margin-left: -50%;
	color: white;
}

.left {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	width: 50%;
	max-width: 450px;
}

.subtitle {
	margin-left: 4%;
}

.cat-pic {
	max-width: 20rem;
}

.right {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
}


.cat-pic-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.gray-text {
	color: var(--gray-color);
}

h1 {
	color: var(--white-text);
	font-weight: 700;
	font-size: 3rem;
	margin-left: 3%;
}

h2 {
	text-align: center;
	font-size: 2rem;
}

 li {
	list-style: none;
	display: inline;
}

a {
	text-decoration: none;
	color: white;
}

nav.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
 button {
 	background: var(--button-color);
 	color: var(--white-text);
 	min-height:2.5rem;
 	min-width: 8rem;
 	border-radius: 5%;
	margin: 2% 4%;
 }

 .thor-quote {
 	background: var(--gray-color);
 	font-style: italic;
 	color: var(--dark-background);
 	font-size: 2.2rem;
	max-width: 100%;
	padding: 4rem;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
 }
 
 blockquote {
	width: 50%;
	margin: auto;
 }

.thor-attribution {
	color: black;
	font-style: normal;
	font-weight: 700;
	align-self: flex-end;
 }
.image-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

.animal-pics {
	max-width: 15rem;
	border-radius: 1rem;
}

 footer {
 	background: var(--dark-background);
 	height: 10vh;
 	color: var(--white-text);
 	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
 }

 .call-to-action {
	background: var(--button-color);
	width: 50%;
	margin: 2% auto;
	color: white;
 
 }

 .sign-up {
	color: white;
	display: inline;
	margin-bottom: 2%;
 }

 .sign-up-paragraph {
	margin-left: 23%;
	
 }
 .para-button {
	display: flex;
	justify-content: center;
 }


 .cta-header {
	margin-left: -9%;
 }